<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Testando Node</title>
  </head>
  <body>
    <table border="1px">
        <tr>
            <td>id</td>
            <td>nome</td>
        </tr>
        <tr>
            <td>1</td>
            <td>livro</td>
        </tr>
    </table>
  </body>
</html>
