<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tabela</title>
  </head>
  <body>
    <div>
        <table border="5px">
            <tr>
                <td>Bla</td>
                <td>Ble</td>
                <td>Bli</td>
                <td>Blo</td>
            </tr>

            <tr>
                <td>La</td>
                <td>Le</td>
                <td>Li</td>
                <td>Lo</td>
                <td>Lu</td>
            </tr>
        </table>
    </div>
  </body>
</html>
